@media (prefers-reduced-motion: no-preference) {
  .rotation {
    animation: rotation-spin infinite 5s linear;
  }
}

@keyframes rotation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.carousel > * {
  margin: 0 !important;
}

.thumbs {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.css-199fg2h-MuiTableCell-root.MuiTableCell-paddingCheckbox>* {
  display: none;
}
